.spot-card {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.spot-details {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.spot-place {
    text-decoration: none;
}

.spot-card img {
    height: 200px;
    width: 100%;
}
