.spot-card {
    display: flex;
    flex-direction: column;
}

.spot-details {
    display: flex;
    justify-content: space-between;
}

img {
    height: 300px;
    width: 320px;
}


/* .spot-card .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.spot-card:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} */